
docs/KiCAD/EXERION_PCB/EXERION_PCB-backups/EXERION_PCB-2022-10-30_211652.zip
docs/KiCAD/EXERION_PCB/file6318480F.sch-bak
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_101_Shield.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_Due_Shield.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_Leonardo_Shield.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_Mega2560_Shield.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_Micro_Socket.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_Mini_Socket.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_Nano_Socket.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_Uno_Shield.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/Arduino.pretty/Arduino_Zero_Shield.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/jtlogos.pretty/JTlogo.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/jtlogos.pretty/JTlogo_22x8.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/footprints/jtlogos.pretty/JTlogo_small.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/74extra.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/74extra.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/0402-X4_1X2mm_P0.5mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/16P8B_1.6X4mm_P0.5mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/JAMMA_CONN.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/SO-14_4.20X8.75mm_P1.27mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/SO-16_4X10mm_P1.27mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/SOIC-20_5.3x12.9_P1.27mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/SOP-14_4.80X8.70mm_P1.27mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/SOP-16_4.40X10mm_P1.27mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/SOP-28_8,6X18,5mm_P1,27mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/SOT-762_2.60X3mmX0.85mm_P0.5mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/TSSOP-20-PW_5.10X6.60mm_P0.65mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arcade.pretty/VSSP-20_3.40X5.25mm_P0.5mm.kicad_mod
docs/KiCAD/EXERION_PCB/jtkicad/lib/arduino.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/arduino.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/data_east.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/data_east.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/fujitsu.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/fujitsu.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/hitachi.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/hitachi.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/Intel.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/Intel.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/jt74.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/jt74.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/konami.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/konami.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/mitsubishi.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/mitsubishi.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/Mod_KC_Symbols.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/Mod_KC_Symbols.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/Nec.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/Nec.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/NKD.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/NKD.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/oki.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/oki.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/sega.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/sega.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/Sharp.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/Sharp.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/Signetics.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/Signetics.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/singapore.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/singapore.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/tms_texas.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/tms_texas.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/toaplan.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/toaplan.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/toshiba.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/toshiba.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/lib/yamaha.dcm
docs/KiCAD/EXERION_PCB/jtkicad/lib/yamaha.kicad_sym
docs/KiCAD/EXERION_PCB/jtkicad/LICENSE
docs/KiCAD/EXERION_PCB/jtkicad/README.md
docs/KiCAD/EXERION_PCB/jtkicad/sym-lib-table
fpga/db/.cmp.kpt
fpga/db/altsyncram_0fd1.tdf
fpga/db/altsyncram_0o84.tdf
fpga/db/altsyncram_13d1.tdf
fpga/db/altsyncram_1l84.tdf
fpga/db/altsyncram_1o84.tdf
fpga/db/altsyncram_2bd1.tdf
fpga/db/altsyncram_2r91.tdf
fpga/db/altsyncram_33n1.tdf
fpga/db/altsyncram_36q1.tdf
fpga/db/altsyncram_3cn1.tdf
fpga/db/altsyncram_4fo1.tdf
fpga/db/altsyncram_4r51.tdf
fpga/db/altsyncram_53n1.tdf
fpga/db/altsyncram_56n1.tdf
fpga/db/altsyncram_59n1.tdf
fpga/db/altsyncram_5kl2.tdf
*.cdb
*.hdb
*.tdf
*.bpm
*.qmsg
*.rdb
*.qmsg
fpga/db/Exerion.asm.qmsg
*.bak
fpga/simulation/modelsim/blink.sft
fpga/simulation/modelsim/blink.vo
fpga/simulation/modelsim/blink_modelsim.xrf
fpga/simulation/modelsim/exerion.vo
fpga/simulation/modelsim/exerion_modelsim.xrf
*.hdb
