docs/KiCAD/EXERION_PCB/EXERION_PCB-backups/EXERION_PCB-2022-10-30_211652.zip
docs/KiCAD/EXERION_PCB/file6318480F.sch-bak
docs/KiCAD/EXERION_PCB/jtkicad/
fpga/simulation/
fpga/db/
*.cdb
*.hdb
*.tdf
*.bpm
*.qmsg
*.rdb
*.qmsg
*.bak
*.hdb
*.rdb
*.rdb
